<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>可拖拽进度条</title>
	<link rel="stylesheet" type="text/css" href="./group1.css">
	<script type="text/javascript" src="./group1.js"></script>
</head>
<body>
	<div class="outerWrap">
		<div class="wrap wrap1">
			<h3>title</h3>
			<div class="progressWrap">
				<div class="inner-bg inner_bg"></div>
				<div class="inner-btn inner_btn"></div>
			</div>
		</div>
	</div>

	<!-- <div class="outerWrap">
		<div class="wrap wrap2">
			<div class="outer">
				<div class="inner-bg inner_bg"></div>
				<div class="inner-btn inner_btn"></div>
			</div>
		</div>
	</div>
	<div class="outerWrap">
		<div class="wrap wrap3">
			<div class="outer">
				<div class="inner-bg inner_bg"></div>
				<div class="inner-btn inner_btn"></div>
			</div>
		</div>
	</div> -->
</body>
</html>