#chessboard{
	display: block;
	margin: 50px auto;
	box-shadow: -2px -2px 2px #efefef, 5px 5px 5px #b9b9b9;
	background-color: #FFFAF0;
}
#restart{
	width: 100px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #fff;
	font-size: 12px;
	border-radius: 5px;
	margin: 20px auto;
	background-color: green;
	cursor: pointer;
}
#restart:hover{
	opacity: 0.8;
}